*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system,  sans-serif;
}

:root{
    --bg-color: #000000;
    --snd-bg-color: #000814;
    --text-color: #d5ccc7;
    --main-color: #696a6b;
    
}

html{
    font-size:62.5%;
    overflow-x: hidden ;

}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding:10rem 9% 2rem;

}

/*Header Section Code*/

.header{
    position:fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease   ;

}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease ;
}

.logo :hover{
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.9rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight:700;
    transition: 0.3s ease;


}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);

}

#menu-icon{
font-size: 3.6rem;
color: var(--main-color);
cursor: pointer;
display: none;
}

/*home*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color) ;
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform:translateY(-2.4rem);

    }
    100%{
        transform:translateY(0);
    }
    
}

.home-content{
    margin-left: 5rem;


}

.home-content h3{
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color)
}


.home-content h1{
    font-size: 6rem ;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;

} 

.social-media a:hover{
    transform: scale(1.3) ;
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color) ;

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem ;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease;
}

.btn:hover{
    box-shadow: 0 0 25px var(--main-color) ;
}

#experience, #aboutMe, #education{
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem ;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease;
}
#experience:hover, #aboutMe:hover, #education:hover{
    box-shadow: 0 0 25px var(--main-color) ;
}

/*about*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--snd-bg-color);
}

.about-img img{
    width: 25vw;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color) ;
    cursor: pointer;
    transition: 0.4s ease;
}

.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}


.heading{
    font-size: 6rem;
    text-align: center;

}

.about-content{
    padding: 0 4rem;
    transition: 0.6s ease ;

}

.about-content h2{
    text-align: left;
    line-height: 1.2;

}

.about-content h3{
    font-size: 3rem;

}

.about-content p{
    font-size: 1.6rem;

margin: 2rem 0 3rem;
}

#aboutMeText, 
#experienceText, 
#educationText{
    display: none;
}

#aboutMeText.active, 
#experienceText.active, 
#educationText.active{
    display: block;
}

#experienceText p, 
#educationText p{
    padding:0.8rem 0;
    margin: 0;
}
#experienceText h3, 
#educationText h3{
    padding:1.5rem 0;
}
#experienceText li, 
#educationText li{
    padding: 0.5rem;
    font-size: 1.6rem;
}
#experienceText ul, 
#educationText ul{
    padding: 1.5rem 0;
    font-size: 1.6rem;
}



/*skills*/

.skills h2{
    margin-bottom: 5rem;

}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
   
}

.skills-container .skills-box{
   position: relative;
    flex: 2 2 15rem;
    height: 43rem;
    border-radius: 2rem;
    cursor: pointer;
    padding: 0;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);

    perspective: 1000px;
}




.skills-box h3{
    font-size: 2.6rem ;
}

.skills-box p{
    font-size: 1.6rem ;
    margin: 1rem 0 3rem;
}

.skills-box:hover{
    transform: rotateY(180deg);

}
.card-front, 
.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;

    top: 0;
    left: 0;
    
}


.card-back{
    transform: rotateY(180deg);
    
}

.card-back ul {
    font-size: 1.6rem;
    
}

.card-back ul li{
    padding-bottom: 1.2rem;
}

/*projects*/

.projects{
    background-color: var(--snd-bg-color);
}

.projects-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.projects .heading{
    margin-bottom: 5rem;
}

.projects-box img{
    width: 20rem;
    border-radius: 15%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    margin-bottom: 3rem;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.projects-item{
    min-height: 450px;
    max-width: 450px;
    background: var(--bg-color);
    border: 0.3rem solid var(--bg-color);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-color);
    transition: 0.3s ease;
}

.projects-item:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.projects-link{
    text-decoration: none;
    color: var(--text-color);
}

.projects-link:visited{
    text-decoration: none;
    color: var(--text-color);
}



.projects-item h2{
    font-size:3rem ;
    margin-bottom: 1.1rem;
}

.projects-item p{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

/*contact*/

.contact{
    background-color: var(--bg-color);

}

.contact .heading{
text-align: center;
color: var(--text-color);
}

.contact h2{
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem ;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn{
    margin-top: 2rem;
}

/*foter*/

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--snd-bg-color);

}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center  ;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover{
      transform: scale(1.3) ;
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color) ;

}

.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
   color: var(--text-color); 
}

/*responsive*/

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 3%;

    }

    section{
        padding: 10rem 3%;
    }

    .skills{
        padding: 7rem;
    }
    .projects  .wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact form .input-box input{
        width: 100%;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width:991px){

    #menu-icon{
        display:block;

    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        min-height:100vh;
        display:flex;
        flex-direction: column;
        background: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }

    .navbar a{
        display: block;
        padding: 17px;
        font-size:22px;
    }

    .navbar.active{
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }

    .home-content{
        order: 2;
        margin-left: 1rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .skills h2{
        margin-bottom: 3rem;
    }
    .wrapper{}
}

@media (max-width:617px){
    .home-img img{
        width:70vw;
        margin-top: 8rem;

    }
    .about-img img {
        width:70vw;
        margin-top: 4rem;
    }
}

@media (max-width:617px){
html{
font-size: 50%;
}
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}

.popup-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1f242d;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
    border: 1px solid #696a6b;
}

.popup-card p {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 20px;
}

.popup-ok {
    padding: 10px 25px;
    cursor: pointer;
}